---
import Welcome from '../components/Welcome.astro';
import HeroSection from '../components/HeroSection.astro';
import Contdown from '../components/Contdown.astro'
import Layout from '../layouts/Layout.astro';
import FeatureList from '../components/FeatureList.astro';
import Benefit from '../components/Benefit.astro';
import Plans from '../components/Plans.astro';
import Calcu from '../components/calcu.astro';
import Popup from '../components/Popup.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use adny of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="flex flex-col gap-12 md:gap-20 xl:gap-24 2xl:gap-36">
		<HeroSection />
		<Contdown/>
		<FeatureList />
		<Benefit />
		<Calcu />
		<Plans />
	</div>

</Layout>
