---
import Welcome from '../components/Welcome.astro';
import HeroSection from '../components/HeroSection.astro';
import Contdown from '../components/Contdown.astro'
import Layout from '../layouts/Layout.astro';
import FeatureList from '../components/FeatureList.astro';
import Benefit from '../components/Benefit.astro';
import Plans from '../components/Plans.astro';
import Calcu from '../components/calcu.astro';
import Popup from '../components/Popup.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use adny of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="flex flex-col gap-12 md:gap-20 xl:gap-24 2xl:gap-36">
		<HeroSection />
            <div class="flex flex-col justify-center items-center gap-6  md:flex-col">
                <h1 class="text-3xl font-bold md:text-4xl 2xl:text-5xl"> Como lo hice con<span class="bg-tittle"> Goldemon</span> </h1>
                <div id="cuenta" class="flex shadow-timer gap-3 text-sm flex-wrap md:text-3xl md:flex-row md:gap-6 2xl:text-4xl"></div>
            </div>
		<FeatureList />
		<Benefit />
		<Calcu />
		<Plans />
	</div>

</Layout>


<style>
    .bg-tittle {
      background-image: linear-gradient(90deg, #cdb963 0%, #a88c22 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
  }
</style>