---

const benefits = [
    { "title" : "Plantilla" , "continue_title" : "Custom Project" , /*"img" : "" */"description" : "Mi plantilla de Custom Project para que comiences a crear con un solo click." },
    { "title" : "1:1" , "continue_title" : "Personalizado"  ,"description" : "Chat 1:1 conmigo hasta que logres automatizar tu estrategia." },
    { "title" : "Sistema " ,  "continue_title" : "Desarrollado" ,"description" : "Tambien obtendras el bot desarrollado con mi proceso, para que logres ganancias desde un principio." },

]

---



<div class="grid grid-cols-1 gap-10 md:grid-cols-2  xl:grid-cols-3">
    {
        benefits.map((benefit) => (
            <div class="flex flex-col items-center gap-2 rounded-lg md:items-star">
                <div class="flex flex-col items-center gap-6 md:flex-row  md:justify-start xl:imtems-start">
                
                    <div class=" flex">
                        <h3 class="font-bold text-3xl text-center 3xl:text-2xl  ">{benefit.title} <br> {benefit.continue_title}</h3>
                    </div>
                </div>
                <div class="">
                    <p class=" text-center xl:text-lg 2xl:text-xl">{benefit.description}</p>

                </div>
            </div>
        ))
    }
</div>


