<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<main class="relative text-black font-poppins m-auto h-screen flex flex-col justify-center items-center">
    <div class="relative  z-10 flex flex-col justify-center items-center gap-4 mt-6">
        <div class="text-center ">
            <img class="mt-20 mx-auto w-96" src="/images/TCACOMUNIDAD.png" alt=""> <!-- Imagen centrada -->
        
            <p class="mt-4 glow-effect text-black"><span class="custom-text-gradient">Accede aqui!</span> </p> <!-- Texto en negro -->
            
        </div>
        <iframe src="https://embeds.beehiiv.com/48296859-3d03-49ae-83d2-1787272bfbd3?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
    </div>
</main>
</Layout>

<style>
.custom-text-gradient {
    background-image: linear-gradient(90deg, #ff0000 0%, #ddce00 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

img {
    max-width: 100%; /* Asegura que la imagen sea responsiva */
    height: auto;
    display: block; /* Garantiza que se comporte como un bloque */
    margin: 0 auto; /* Centra horizontalmente */
}

.glow-effect {
    filter: drop-shadow(1px 1px 30px rgb(46, 46, 46));
  }
</style>
