---

---

<div class="flex items-center justify-around px-6 py-4 logo-effect navbar_border ">
    <div>
        <img class=" logo-effect w-36 xl:w-52 2xl:w-64" src="/images/TRADIUN.png" alt="">
    </div>
    <div>
        <a class="color_button px-4 py-2 rounded-md text-white  href=" href="#plans"> Ver Planes</a>
    </div>
</div>



<style>
    .navbar_border {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    .color_button {
        background-color: #5003ddf6;
    } 

</style>