<div class="flex flex-col  gap-5 text-center  xl:justify-center xl:flex-row 2xl:gap-20">
    <div class="md:flex md:flex-col md:gap-5 xl:w-2/4">
        <div>
            <h1 class="text-[6vw]  font-semibold md:text-4xl xl:text-5xl 2xl:text-6xl 2xl:leading-snug">Explora el poder del  <span class="bg-tittle"> TRADING   </span>   <span class="bg-tittle">ALGORITMICO</span> y mejora tu trading </h1>
        </div>
        <div class="xl:mt-4">
            <p class="text-md xl:text-lg 2xl:text-2xl "> En Tradiun, te ayudamos a alcanzar la rentabilidad y reducir tu tiempo. Automatizando tu estrategia, asi reduces el impacto de las emociones, optimizas tus beneficios y desbloqueas un trading más estable y automatizado. </p>
        </div>
    </div>
    <div class="xl:w-2/4">
        <div>
            <video class="w-full rounded-lg shadow-video" src="/images/VSL.mp4" controls="" preload="auto" controlslist="nodownload"></video>
        </div>
    </div>
</div>


<style>
.bg-tittle {
    background-image: linear-gradient(90deg, #772aff 0%, #39007e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.shadow-video {
    box-shadow: 0px 0px 20px 0px rgba(47, 0, 85, 0.932);
}
</style>