<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<main class="relative text-black font-poppins m-auto h-screen flex flex-col justify-center items-center">
    <div class="relative glow-effect z-10 flex flex-col justify-center items-center gap-4 mt-6">
        <div class="text-center ">
            <img class="mt-20 mx-auto w-16" src="/images/LogoTradiun.png" alt=""> <!-- Imagen centrada -->
            <h2 class="text-4xl font-bold xl:text-5xl"> Bienvenido a <span class="custom-text-gradient">Tradiun</span></h2>
            <p class="mt-4 text-black"><span class="custom-text-gradient">Completa el siguiente Formulario</span> </p> <!-- Texto en negro -->
            
        </div>
        <iframe class="airtable-embed" src="https://airtable.com/embed/appbw5IBda6xlv3SV/pagmLXdpt0xWM5oxP/form" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
    </div>
</main>
</Layout>

<style>
.custom-text-gradient {
    background-image: linear-gradient(90deg, #772aff 0%, #39007e 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

img {
    max-width: 100%; /* Asegura que la imagen sea responsiva */
    height: auto;
    display: block; /* Garantiza que se comporte como un bloque */
    margin: 0 auto; /* Centra horizontalmente */
}

.glow-effect {
    filter: drop-shadow(1px 1px 30px rgb(46, 46, 46));
  }
</style>
